<footer class="footer">
  <div class="contents footer_contents">
    <p>
      <a href="https://www.facebook.com/groups/ucpc.korea">전국 대학생 프로그래밍 대회 동아리 연합</a><br>
      designs &copy; 2020 &ndash; 2026 <a href="https://shiftpsh.com">shiftpsh.com</a>
    </p>
  </div>

  <div style="height: 1rem;"></div>

  <div class="contents footer_contents old_sites">
    <a href="https://2025.ucpc.me"><img style="height: 1.6em;" src="/assets/history/2025.svg" alt="UCPC 2025"></a>
    <a href="https://2024.ucpc.me"><img style="height: 1.6em;" src="/assets/history/2024.svg" alt="UCPC 2024"></a>
    <a href="https://2023.ucpc.me"><img style="height: 1.6em;" src="/assets/history/2023.svg" alt="UCPC 2023"></a>
    <a href="https://2022.ucpc.me"><img style="height: 1.6em;" src="/assets/history/2022.svg" alt="UCPC 2022"></a>
    <a href="https://2021.ucpc.me"><img style="height: 1.4em;" src="/assets/history/2021.svg" alt="UCPC 2021"></a>
    <a href="https://2020.ucpc.me"><img style="height: 1.4em;" src="/assets/history/2020.svg" alt="UCPC 2020"></a>
    <a href="https://2019.ucpc.me"><img style="height: 1em;" src="/assets/history/2019.svg" alt="UCPC 2019"></a>
  </div>
  
  <div style="height: 2rem;"></div>

  <div style="height: 2rem; display: flex;">
    <div style="flex: 1 0 0;"></div>
    <div style="flex: 0 0 4px; background: var(--ucpc-blue-dark);"></div>
    <div style="flex: 1 0 0;"></div>
  </div>
</footer>
