.main_top {
  position: relative;
}

.main_top_bg {
  a {
    display: block;
    width: 100%;
    max-width: 16em;
    margin: 0 auto;
  }
}

nav.lang_switch {
  position: absolute;
  top: 1.8rem;
  right: 2rem;
  z-index: 10;
  font-size: 1em;
}

select.lang_select {
  appearance: auto;
  font: inherit;
  font-weight: 700;
  color: var(--text-color);
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

nav.main_nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0 1em;
  font-size: 1.2em;
  a,
  a:link,
  a:visited {
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
    &:hover {
      text-decoration: underline;
    }
  }
}

div.main_caption {
  text-align: center;
}

div.main_notice {
  text-align: center;
  font-size: 1.6rem;
}

div.main_date {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  white-space: nowrap;

  & small {
    font-size: 0.6em;
  }
}

div.cover_image {
  position: relative;
  width: 80%;
  max-width: var(--screen-max-width);
  margin: 0 auto;

  & > img {
    position: relative;
    width: 100%;
    border-radius: 1em;
  }
  & > img#main-pic-blurry {
    position: absolute;
    left: 0;
    top: 0.5em;
    filter: blur(1em);
  }
}

div.main_description {
  text-align: center;
}

main.index {
  ul,
  ol {
    list-style-type: none;
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  nav.lang_switch {
    top: 1.4rem;
    right: 1rem;
    font-size: 0.95em;
  }
}
